# This is a config file for RM-1337
# Comments start with #

[DEVICE]
SSID = L3375 WIFI
Encryption = WPA2
Password = HTB{FlagForPreviousChallengePleaseIgnore}

[METHODS]
ListAllowedMethods = enabled
ListAllMethods = enabled
SetParameterValue = enabled
GetParameterValue = enabled
GetInformation = enabled

[NETWORK]
HOST = 0.0.0.0
PORT = 1337
